/* CSS declarations go here */
.spacer {
  height: 70px;
}
.panorama {
  border-color: #0000;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  
}
.panorama>div {
  height: 200px;
  background-image: url("/img/panorama0.jpg");
  background-repeat: repeat-x;
  border-radius: 2px;
}
.item-editing {
  background-color: #eee;
  padding: 10px;
  border-radius: 4px;
}
* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.over-ok {
  background-color: #66ff66;
}
.lesson-column {
  padding-left: 2px;
  padding-right: 2px;
}
.lesson-column:last-child {
  margin-right: 0px;
}
.lesson-header {
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  margin-bottom: -1px;
  padding: 5px;
  border-radius: 19px 5px 0px 0px;
  background-color: #fff;
  height: 42px;
}
.lesson-body {
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  margin-bottom: -1px;
  padding: 5px;
  height: 40px;
  background-color: #fff;
}
.lesson-body:last-child {
  margin-bottom: 0px;
  border-radius: 0px 0px 5px 5px;
}
.lesson-body.lesson-body-over {
  background-color: #cccccc;
}
.lesson-body.over-forbidden {
  background-color: #ff3333;
}
.lesson-body.over-alert {
  background-color: #ffcc33;
}
.lesson-body.over-warning {
  background-color: #ffff33;
}
.lesson-body.over-ok {
  background-color: #66ff66;
}
.lesson-body input {
  border: 0px;
}
.lesson-body.disactived {
  background-color: #eee;
  border-color: #dddddd #eee;
}
.line-through {
  text-decoration: line-through;
}
ul.list-no-indent {
  padding-left: 20px;
}

ul.list-no-indent li {
  margin-top: 2px;
}
.sh {
  display: inline-block;
  height:18px;
  width:18px;
  line-height: 18px;
  background-image: url("/img/sh_icons_black.png");
  background-repeat: no-repeat;
}

.sh.sh-helmet {
  background-position: 0     0;
}
.sh.sh-horse {
  background-position: -18px     0;
}
.sh.sh-saddle {
  background-position: -36px     0;
}
.sh.sh-hour {
  background-position: -54px     0;
}