<button class="btn btn-default" ui-sref="adminUsers"><i class="glyphicon glyphicon-arrow-left"></i></button>
<h2>Utilisateur {{adminUserDetails.user.profile.name}}</h2>
<ul ng-if="!adminUserDetails.isAdmin()">
  <li ng-repeat="group in adminUserDetails.user.groups">
    {{adminUserDetails.getGroupName(group)}}
  </li>
  <li>
    <form>
      <select ng-model="adminUserDetails.newGroup">
        <option value="">--</option>
        <option ng-repeat="group in adminUserDetails.groups" value="{{group._id}}">{{group.name}}</option>
      </select>
      <button class="btn btn-success btn-xs" ng-click="adminUserDetails.addGroup()"><i class="glyphicon glyphicon-plus"></i></button>
    </form>
  </li>
</ul>