<template name="instructorDisplay">
  <img src="{{getImage}}" alt="{{name}}" class="img-circle" width="64">&nbsp;
  <span>{{name}}</span>
</template>

<template name="instructorEditor">
  <form>
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" placeholder="Nom du moniteur" value="{{name}}">
    </div>
  </form>
</template>

<template name="instructorsPage">
  <h2>Moniteurs</h2>
  <ul class="list-group">
    {{> newItemTmpl collection=instructorsCollection data=newInstructorDefault resetForm=resetInstructorForm saveItem=saveInstructor editor="instructorEditor"}}
    {{#each instructors}}
      {{> itemTmpl collection=instructorsCollection data=this saveItem=saveInstructor display="instructorDisplay" editor="instructorEditor"}}
    {{/each}}
  </ul>
</template>
