<div>
  <h2>Reprises</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <new-item
        on-edit="resetNew()"
        on-create="create()">
        <div type="editor"><ng-include src="'client/components/lesson/lessonEditor.html'"></ng-include></div>
      </new-item>
    </li>
    <li class="list-group-item" ng-repeat="lesson in lessons">
      <editable-item
        on-delete="remove()"
        on-edit="edit()"
        on-save="save()"
        on-cancel-save="cancelSave()">
        <div type="display"><ng-include src="'client/components/lesson/lessonDisplay.html'"></ng-include></div>
        <div type="editor"><ng-include src="'client/components/lesson/lessonEditor.html'"></ng-include></div>
      </editable-item>
    </li>
  </ul>
</div>