 <div class="modal-header">
  <h3 class="modal-title">Reprises</h3>
</div>
<div class="modal-body">
  <span>Sélectionnez les cavaliers et chevaux à supprimer</span>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li ng-repeat="rider in riders">
          <button class="btn btn-default btn-xs" ng-click="rider.selected = !rider.selected" style="margin-top:2px">
            <i class="glyphicon" ng-class="{'glyphicon-remove': !rider.selected, 'glyphicon-trash': rider.selected}"></i>
          </button> 
          <span ng-class="{'line-through': rider.selected}">{{rider.name}}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li ng-repeat="rider in horses">
          <button class="btn btn-default btn-xs" ng-click="rider.selected = !rider.selected" style="margin-top:2px">
            <i class="glyphicon" ng-class="{'glyphicon-remove': !rider.selected, 'glyphicon-trash': rider.selected}"></i>
          </button> 
          <span ng-class="{'line-through': rider.selected}">{{rider.name}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Supprimer</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
</div>
