
<form id="lessonForm">
  <div class="form-group">
    <label for="name">Nom</label>
    <input type="text" class="form-control" id="hour" placeholder="Nom du modèle" ng-model="planner.name">
  </div>
  <div class="form-group">
    <label>Plage horaire</label>
    <div class="form-inline">
      <div class="form-group">
        <label for="startHour">de</label>
        <input type="time" class="form-control" id="startHour" ng-disabled="!planner.hoursEditable" ng-model="planner.startHour" ng-change="planner.setHours()">
      </div>
      <div class="form-group">
        <label for="endHour">à</label>
        <input type="time" class="form-control" id="endHour" ng-disabled="!planner.hoursEditable" ng-model="planner.endHour" ng-change="planner.setHours()"/>
      </div>
      <div class="form-group">
        <label for="step">toutes les</label>
        <input type="time" class="form-control" id="step" ng-disabled="!planner.hoursEditable" ng-model="planner.step" ng-change="planner.setHours()"/>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-md-2">
    <ul class="list-group">
      <li class="list-group-item" ng-mouseover="setOver(rider)" ng-mouseleave="setLeave(rider)" draggable-rider="{{rider._id}}" ng-repeat="(key, rider) in planner.riders">
        <span popover-title="Reprises" popover-placement="right" popover-template="'client/components/lesson/riderPopover.html'" popover-trigger="mouseenter"><i class="sh sh-saddle" ng-click="editLessons(planner, 'riders', rider)"></i> {{rider.nbLessons}}</span>
        <span class="pull-right">{{rider.name}}&nbsp;
        <img-person image="{{rider.image}}" gender="{{rider.gender}}" name="{{rider.name}}" size="24"></img-person>
        </span>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <div class="col-md-1 lesson-column">
      <div class="lesson-header">
        <img class="img-circle" src="img/hour.png" width="32"/>
      </div> 
      <div class="lesson-body" ng-repeat="time in planner.times">
        <input type="time" ng-model="time.hour"/> 
      </div>
    </div>
    <div class="col-md-2 lesson-column" ng-repeat="(key, planning) in planner.plannings">
      <div class="lesson-header">
        <img-person image="{{planning.instructor.image}}" gender="{{planning.instructor.gender}}" 
          name="{{planning.instructor.name}}" size="32"></img-person>&nbsp;
        <strong>{{planning.instructor.name}}</strong>
        <i class="glyphicon glyphicon-remove pull-right" ng-click="planner.toggleLessons(planning.lessons)"></i>
      </div> 
      <div class="lesson-body" ng-class="{'lesson-body-over': lesson.isOver, disactived: !lesson.actived}" droppable-horse-and-rider lesson="lesson" planner="planner" ng-repeat="lesson in planning.lessons">
        <span ng-show="lesson.actived" ng-click="editLesson(planner, lesson)">
          <span popover-title="Cavaliers" popover-placement="left" popover-template="'client/components/lesson/lessonRidersPopover.html'" popover-trigger="mouseenter"><i class="sh sh-helmet"></i> {{lesson.riders.length}}</span> / 
          <span popover-title="Chevaux" popover-placement="right" popover-template="'client/components/lesson/lessonHorsesPopover.html'" popover-trigger="mouseenter" class=""><i class="sh sh-horse"></i> {{lesson.horses.length}}</span>
        </span>
        <span class="pull-right">
          <i class="glyphicon glyphicon-remove" ng-click="planner.toggleLesson(lesson)"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <ul class="list-group">
      <li class="list-group-item" ng-mouseover="setOver(horse)" ng-mouseleave="setLeave(horse)" draggable-horse="{{horse._id}}" ng-repeat="(key, horse) in planner.horses">
        <img-horse image="{{horse.image}}" name="{{horse.name}}" size="24"></img-horse>&nbsp;
        <span>{{horse.name}}</span>
        <span class="pull-right" popover-title="Reprises" popover-placement="left" popover-template="'client/components/lesson/horsePopover.html'" popover-trigger="mouseenter" ng-click="editLessons(planner, 'horses', horse)"><i class="sh sh-saddle"></i> {{horse.nbLessons}}</span>
      </li>
    </ul>
  </div>
</div>
